use_flake

export CMAKE_EXPORT_COMPILE_COMMANDS=ON

watch_file install/setup.bash
if test -e install/setup.bash ; then
  # shellcheck source=/dev/null
  source ./install/setup.bash
fi

dotenv_if_exists
source_env_if_exists .envrc.local
