use_flake

export NRWS_DOMAIN_ID=55
export ROS_DOMAIN_ID=55

watch_file install/setup.bash
if test -e install/setup.bash ; then
  # shellcheck source=/dev/null
  source ./install/setup.bash
fi

dotenv_if_exists
source_env_if_exists .envrc.local
