<?xml version="1.0" encoding="utf-8"?>
<launch>
    <arg name="robot_ip" default="192.168.0.188" />

    <arg name="rgbd_ip" default="192.168.0.230" />
    <arg name="rgb_ip" default="192.168.0.204" />
    <arg name="rgb_user" default="root" />
    <arg name="rgb_pw" default="***REMOVED***" />
    <arg name="rgb_name" default="axisaccc8e68d212" />

    <arg name="robot_model" default="4600_40_255" />

    <!-- Start this here since it applies to both bringup_collect and bringup_fabricate -->
    <node pkg="tf" type="static_transform_publisher" name="world_broadcaster"
        args="0 0 0 0 0 0 1 world base_link 100" />

    <include file="$(find biodigitalmatter_ros)/launch/bringup_collect.launch">
        <arg name="robot_ip" value="$(arg robot_ip)" />
        <arg name="robot_model" value="$(arg robot_model)" />

        <arg name="rgbd_ip" value="$(arg rgbd_ip)" />

        <arg name="rgb_name" value="$(arg rgb_name)" />
        <arg name="rgb_ip" value="$(arg rgb_ip)" />
        <arg name="rgb_user" value="$(arg rgb_user)" />
        <arg name="rgb_pw" value="$(arg rgb_pw)" />
    </include>

    <include file="$(find biodigitalmatter_ros)/launch/bringup_rrc.launch">
        <arg name="robot_ip" value="$(arg robot_ip)" />
    </include>

</launch>
