<?xml version="1.0"?>
<launch xmlns:xs="http://www.w3.org/2001/XMLSchema"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="https://gist.githubusercontent.com/nalt/dfa2abc9d2e3ae4feb82ca5608090387/raw/roslaunch.xsd">
  <arg name="robot_ip" default="127.0.0.1" />

  <arg name="rgbd_ip" default="" />
  <arg name="rgb_ip" default="" />
  <arg name="rgb_name" default="" />
  <arg name="rgb_user" default="" />
  <arg name="rgb_pw" default="" />

  <arg name="params_file" default="$(find depthai_filters)/config/wls.yaml" />


  <arg name="luxonis_parent_frame" default="tool0" />
  <arg name="luxonis_cam_pos_x" default="0.175319" />
  <arg name="luxonis_cam_pos_y" default="0.39145" />
  <arg name="luxonis_cam_pos_z" default="0.047145" />
  <arg name="luxonis_cam_roll" default="0.0" />
  <arg name="luxonis_cam_pitch" default="0.0" />
  <arg name="luxonis_cam_yaw" default="1.3089969387" />

  <include file="$(find abb_robot_bringup_examples)/launch/ex1_rws_only.launch">
    <arg name="robot_ip" value="$(arg robot_ip)" />
  </include>

  <include file="$(find abb_irb4600_40_255_moveit_config)/launch/planning_context.launch" />


  <node pkg="tf" type="static_transform_publisher" name="$(arg rgb_name)_broadcaster"
    args="0 0 0 0 0 0 1 world $(arg rgb_name)_camera_link 100" />

  <include file="$(find axis_camera)/launch/axis.launch">
    <arg name="camera_name" value="$(arg rgb_name)" />
    <arg name="hostname" value="$(arg rgb_ip)" />
    <arg name="username" value="$(arg rgb_user)" />
    <arg name="password" value="$(arg rgb_pw)" />
    <arg name="width" value="1280" />
    <arg name="height" value="720" />
    <arg name="fps" value="25" />

  </include>
  <group ns="$(arg rgb_name)">
    <param name="frame_id" value="world" />
  </group>

  <param name="robot_description"
    command="$(find xacro)/xacro.py $(find abb_irb4600_support)/urdf/irb4600.xacro" />
  <node pkg="robot_state_publisher" type="robot_state_publisher" name="rob_st_pub">
    <remap from="joint_states" to="/rws/joint_states" />
  </node>

  <include file="$(find depthai_ros_driver)/launch/pointcloud.launch">
    <param name="~i_mx_id" value="1944301031307E1300" />
    <arg name="parent_frame" value="$(arg luxonis_parent_frame)" />
    <arg name="cam_pos_x" value="$(arg luxonis_cam_pos_x)" />
    <arg name="cam_pos_y" value="$(arg luxonis_cam_pos_y)" />
    <arg name="cam_pos_z" value="$(arg luxonis_cam_pos_z)" />
    <arg name="cam_roll" value="$(arg luxonis_cam_roll)" />
    <arg name="cam_pitch" value="$(arg luxonis_cam_pitch)" />
    <arg name="cam_yaw" value="$(arg luxonis_cam_yaw)" />
    <arg name="camera_model" value="OAK-D-POE" />
  </include>

  <!-- node name="pc2pcd" pkg="pcl_ros" type="pointcloud_to_pcd">
    <remap from="input" to="/oak/points" />
    <param name="frame_id" value="world" />
    <param name="prefix" value="/home/tetov/pcds/" />
	       </node-->

  <node pkg="aruco_detect" name="aruco_detect"
    type="aruco_detect" output="screen" respawn="false" />

  <node name="record" pkg="rosbag" type="record" args="--all --output-prefix=$(env HOME)/rosbags/" />

</launch>
