<?xml version="1.0"?>
<launch xmlns:xs="http://www.w3.org/2001/XMLSchema"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="https://gist.githubusercontent.com/nalt/dfa2abc9d2e3ae4feb82ca5608090387/raw/roslaunch.xsd">
  <arg name="bag_file" />

  <node pkg="rosbag" type="play" name="rosbag" required="true" args="$(arg bag_file)" />

  <node pkg="image_view" type="extract_images" name="extract" required="true"
    output="screen" cwd="ROS_HOME">
    <remap from="image" to="/oak/rgb/image_raw" />
  </node>

  <node pkg="pcl_ros" type="pointcloud_to_pcd" name="pc2pcd">
    <remap from="input" to="/oak/points" />
    <param name="frame_id" value="world" />
    <param name="prefix" value="/home/tetov/pcds/" />
  </node>

  <node pkg="tf" type="tf_echo" name="tf_echo_camera" args="oak world 1" />

</launch>
