<?xml version="1.0"?>
<launch xmlns:xs="http://www.w3.org/2001/XMLSchema"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="https://gist.githubusercontent.com/nalt/dfa2abc9d2e3ae4feb82ca5608090387/raw/roslaunch.xsd">
  <arg name="bag_file" />

  <param name="robot_description"
    command="xacro $(find abb_irb4600_40_255)/urdf/abb_irb4600_40_255.xacro" />

  <node pkg="rosbag" type="play" name="rosbag" required="true" args="$(arg bag_file)" />
</launch>
