<?xml version="1.0"?>
<launch xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="https://gist.githubusercontent.com/nalt/dfa2abc9d2e3ae4feb82ca5608090387/raw/roslaunch.xsd">

    <arg name="name" default="rgbd_camera" />
    <arg name="rectify_rgb" default="true" />
    <arg
        name="no_record" default="false" />
    <arg name="use_wls_filter" default="true" />

    <node
        pkg="nodelet" type="nodelet" name="rectify_color"
        args="load image_proc/rectify $(arg  name)_nodelet_manager" if="$(arg
    rectify_rgb)"
        required="true">
        <remap from="image_mono" to="$(arg name)/rgb/image_raw" />
        <remap from="image_rect" to="$(arg name)/rgb/image_rect" />
    </node>

    <node pkg="nodelet"
        type="nodelet" name="rectify_left"
        args="load image_proc/rectify $(arg  name)_nodelet_manager">
        <remap from="image_mono" to="$(arg name)/left/image_raw" />
        <remap from="image_rect" to="$(arg name)/left/image_rect" />
    </node>

    <!-- TODO: Why is this not needed? -->
    <!-- node pkg="nodelet" type="nodelet" name="rectify_stereo"
        args="load image_proc/rectify $(arg  name)_nodelet_manager">
        <remap from="image_mono" to="$(arg name)/stero/image_raw" />
        <remap from="image_rect" to="$(arg name)/stereo/image_rect" />
    </node -->


    <node name="wls"
        pkg="nodelet" type="nodelet" output="screen"
        required="true" args="load depthai_filters/WLSFilter $(arg name)_nodelet_manager"
        if="$(arg use_wls_filter)">
        <remap from="/stereo/image_raw" to="$(arg name)/stereo/image_raw" />
        <remap
            from="/stereo/left/rect" to="$(arg name)/left/image_rect" />
        <remap
            from="/stereo/camera_info" to="$(arg name)/stereo/camera_info" />
        <remap
            from="/stereo/wls/filtered" to="$(arg name)/stereo/wls/filtered" />
    </node>

    <node
        pkg="nodelet" type="nodelet" name="depth_image_to_rgb_pointcloud"
        args="load depth_image_proc/point_cloud_xyzrgb $(arg  name)_nodelet_manager"
        required="true">
        <param name="queue_size" value="10" />
        <remap from="rgb/camera_info" to="$(arg name)/rgb/camera_info" />

        <remap from="rgb/image_rect_color" to="$(arg name)/rgb/image_rect" if="$(arg rectify_rgb)" />
        <remap from="rgb/image_rect_color" to="$(arg name)/rgb/image_raw"
            unless="$(arg rectify_rgb)" />

        <remap from="depth_registered/image_rect" to="$(arg name)/stereo/wls/filtered"
            if="$(arg use_wls_filter)" />
        <remap from="depth_registered/image_rect" to="$(arg name)/stereo/image_raw"
            unless="$(arg use_wls_filter)" />

        <remap from="depth_registered/points" to="$(arg name)/points" />
    </node>

    <node
        name="store_pointclouds" pkg="pcl_ros" type="pointcloud_to_pcd"
        unless="$(arg no_record)">
        <remap from="input" to="/points" />
        <param name="fixed_frame" value="world" />
        <param name="prefix" value="$(env HOME)/pcds/" />
    </node>

    <node pkg="octomap_server"
        type="octomap_server_node" name="octomap_server">
        <param name="resolution" value="0.005" />
        <param name="frame_id" type="string" value="world" />
        <param name="filter_ground" type="bool" value="false" />

        <!-- maximum range to integrate (speedup!) -->
        <param name="sensor_model/max_range" value="2.0" />

        <!-- data source to integrate (PointCloud2) -->
        <remap from="cloud_in" to="$(arg name)/points" />
    </node>

</launch>
