<?xml version="1.0"?>

<launch>

    <arg name="name" default="rgbd_camera" />
    <arg name="rectify_rgb" default="true" />
    <arg name="no_record" default="false" />

    <node pkg="nodelet" type="nodelet" name="rectify_color"
        args="load image_proc/rectify $(arg  name)_nodelet_manager" if="$(arg rectify_rgb)">
        <remap from="image_mono" to="$(arg name)/rgb/image_raw" />
        <remap from="image_rect" to="$(arg name)/rgb/image_rect" />
    </node>

    <node pkg="nodelet" type="nodelet" name="depth_image_to_rgb_pointcloud"
        args="load depth_image_proc/point_cloud_xyzrgb $(arg  name)_nodelet_manager">
        <param name="queue_size" value="10" />
        <remap from="rgb/camera_info" to="$(arg name)/rgb/camera_info" />
        <remap from="rgb/image_rect_color" to="$(arg name)/rgb/image_rect" if="$(arg rectify_rgb)" />
        <remap from="rgb/image_rect_color" to="$(arg name)/rgb/image_raw"
            unless="$(arg rectify_rgb)" />
        <remap from="depth_registered/image_rect" to="$(arg name)/stereo/image_raw" />
        <remap from="depth_registered/points" to="$(arg name)/points" />

    </node>

    <node name="store_pointclouds" pkg="pcl_ros" type="pointcloud_to_pcd"
        unless="$(arg no_record)">
        <remap from="input" to="/points" />
        <param name="fixed_frame" value="world" />
        <param name="prefix" value="$(env HOME)/pcds/" />
    </node>

    <node pkg="octomap_server" type="octomap_server_node" name="octomap_server">
        <param name="resolution" value="0.005" />

        <!-- fixed map frame (set to 'map' if SLAM or localization running!) -->
        <param name="frame_id" type="string" value="world" />
        <param name="filter_ground" type="bool" value="true" />

        <!-- maximum range to integrate (speedup!) -->
        <param name="sensor_model/max_range" value="5.0" />

        <!-- data source to integrate (PointCloud2) -->
        <remap from="cloud_in" to="$(arg name)/points" />

    </node>
</launch>
